<header>
    <div id="logo">LOGO</div>
    <input type="search" ng-model="search.name" placeholder="Product Name">
    <input type="search" ng-model="search.type" placeholder="Product Type">

</header>

<div id="filters-container">
	<button ng-click="property = 'price'; reverse=!reverse">Order by Price</button>
	<button ng-click="property = 'name'; reverse=!reverse">Order by Name</button>
</div>

<div id="products-container">
	<ul style="list-style-type:none;">
		<li style="margin-top:10px; cursor:pointer;" ng-repeat="product in products | orderBy:property:reverse | filter: search" ng-click="loadSection(product.id)"> 
			<fl-product-widget name="{{product.name}}" price="{{product.price}}"></fl-product-widget>
		</li>
	</ul>
</div>